#title {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: blueviolet;
    color: white;
    padding: 25px 20px;
}

#balanceTitle {
    text-align: center;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#totalBalance {
    text-align: center;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.border {
    border: 1px solid;
    border-radius: 0.5rem;
    text-transform: uppercase;
    width: 50%;
    padding: 1px 5px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#moneyPlus {
    color: rgb(7, 185, 7);
}

#moneyMinus {
    color:rgb(185, 7, 7);
}

#list {
    text-align: center;
}

#deleteBtn {
    background-color: #c0392b;
    color: #fff;
    border: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.deleteBtn {
    background-color: #c0392b;
    border: none;
    border-radius: 0.5rem;
    font-size: 15px;
    width: 15%;
    cursor: pointer;
}

#historyTitle {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: underline;
}

#history {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#newTransactionTitle {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px 30px;
    text-decoration: underline;
}

#transaction {
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recentTransactions {
    border: 1px;
    border-radius: 1rem solid;
    border-color: #333;
    padding: 10px 20px;
}

#name {
    text-align: center;
}

#transactionName {
    text-align: center;
    font-size: 20px;
    width: 30%;
    cursor: pointer;
}

#amount {
    text-align: center;
}

#amountInput {
    font-size: 20px;
    width: 30%;
    text-align: center;
    cursor: pointer;
}

#addTransaction {
    font-size: 20px;
    width: 30%;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 5px 10px;
    margin: 1.5rem;
    cursor: pointer;
}
